.unigui_theme {
		border-left-width: 6px;
		border-bottom-width: 6px;
		window-header-height: 37px;
		tab-header-height: 38px;
		form-show-icon: false;
		panel-header-height: 36px;
		panel-header-width: 36px;
		menu-band-height: 37px;
		calendar-form-width: 226px;
		calendar-form-height: 294px;
}

.x-btn-default-small .x-btn-inner {
  font:normal 11px tahoma, arial, helvetica, sans-serif;
}
.x-btn-default-medium .x-btn-inner {
  font:normal 11px tahoma, arial, helvetica, sans-serif;
}
.x-btn-default-large .x-btn-inner {
  font:normal 11px tahoma, arial, helvetica, sans-serif;
}

.x-theme-color {
  background-color:#3892d3;
  color: #ffffff;
}

.x-panel-header-default-horizontal .x-tool-after-title {
    margin: 0 1px 0 6px
}  
.x-panel-header-default-vertical .x-tool-after-title {
    margin: 6px 0 1px 2px
}
.x-panel-header-default-vertical .x-tool-before-title {
    margin: 0 2px 6px 0
}
.x-window-header-default-horizontal .x-tool-after-title {
    margin: 0 1px 0 6px
}

.x-grid-row .x-grid-cell-selected {
  background-color: #c1ddf1 !important;
}