html, body {
    height: 100%;
  /*  background-color: #1985D0*/
}

.x-mask-overlay {
  background-image: url('../images/loading.gif') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: rgba(200, 200, 200, 0.5) !important;
}

.x-mgrid-cell {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.x-mgrid-header-row {
  white-space: nowrap;
  padding-top: 10px;
  padding-left: 15px;
}

.x-mgrid-header-col {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.x-mgrid-row {
  white-space: nowrap;
}

#loading {
  position: absolute;
  left:     50%;
  top:      50%;
  padding:  2px;
  z-index:  20001;
  height:   auto;
  margin:   -35px 0 0 -30px;
}

#loading .loading-indicator {
  background: url(../images/loading.gif) no-repeat;
  color:      #555;
  font:       bold 13px tahoma,arial,helvetica;
  padding:    16px 52px;
  margin:     0;
  text-align: center;
  height:     auto;
}

/* https://www.sencha.com/forum/announcement.php?f=92&a=58 */
@keyframes x-loading-spinner-rotate {
  0%{     -ms-transform: rotate(0deg); transform: rotate(0deg); }
  8.32%{  -ms-transform: rotate(0deg); transform: rotate(0deg); }
 
  8.33%{  -ms-transform: rotate(30deg); transform: rotate(30deg); }
  16.65%{ -ms-transform: rotate(30deg); transform: rotate(30deg); }
 
  16.66%{ -ms-transform: rotate(60deg); transform: rotate(60deg); }
  24.99%{ -ms-transform: rotate(60deg); transform: rotate(60deg); }
 
  25%{    -ms-transform: rotate(90deg); transform: rotate(90deg); }
  33.32%{ -ms-transform: rotate(90deg); transform: rotate(90deg); }
 
  33.33%{ -ms-transform: rotate(120deg); transform: rotate(120deg); }
  41.65%{ -ms-transform: rotate(120deg); transform: rotate(120deg); }
 
  41.66%{ -ms-transform: rotate(150deg); transform: rotate(150deg); }
  49.99%{ -ms-transform: rotate(150deg); transform: rotate(150deg); }
 
  50%{    -ms-transform: rotate(180deg); transform: rotate(180deg); }
  58.32%{ -ms-transform: rotate(180deg); transform: rotate(180deg); }
 
  58.33%{ -ms-transform: rotate(210deg); transform: rotate(210deg); }
  66.65%{ -ms-transform: rotate(210deg); transform: rotate(210deg); }
 
  66.66%{ -ms-transform: rotate(240deg); transform: rotate(240deg); }
  74.99%{ -ms-transform: rotate(240deg); transform: rotate(240deg); }
 
  75%{    -ms-transform: rotate(270deg); transform: rotate(270deg); }
  83.32%{ -ms-transform: rotate(270deg); transform: rotate(270deg); }
 
  83.33%{ -ms-transform: rotate(300deg); transform: rotate(300deg); }
  91.65%{ -ms-transform: rotate(300deg); transform: rotate(300deg); }
 
  91.66%{ -ms-transform: rotate(330deg); transform: rotate(330deg); }
  100%{   -ms-transform: rotate(330deg); transform: rotate(330deg); }
}

/*  FF 49 fix */
/* https://www.sencha.com/forum/showthread.php?329367-ExtJ-6-modern-toolkit-does-not-work-with-Firefox-49-0-1 */
.x-firefox .x-stretched.x-container > .x-inner,
.x-firefox .x-layout-box,
.x-firefox .x-button,
.x-firefox .x-stretched.x-container > .x-body > .x-inner,
.x-firefox .x-dock,
.x-firefox .x-stretched.x-container {
  display: flex
}
.x-firefox .x-form-fieldset .x-dock .x-dock-body {
  flex: 1
}